{% extends "base.html" %}

{% block title %}
    Detail post
{% endblock title %}

{% block content %}
    <div class="card my-5">
        <h4 class="card-header text-center">
            {{ post.title }}
            <br>
            <small class="text-muted">author: {{ post.user.username }}</small>
            <br>
            <small class="text-muted">posted on : {{ post.date_posted | date }}</small>
        </h4>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4 col-12">
                    {% if post.image %}
                        <img src="{{ post.image.url }}" 
                        style="height: 20rem; width: 20rem;"
                        alt="" class="img-fluid img-thumbnail bg-dark">
                    {% endif %}
                </div>
                <div class="col-md-8 col-12">
                    <p class="lead">{{ post.description }}</p>
                </div>
            </div>
        </div>
        {% if post.user == user %}
            <div class="card-footer">
                <a href="{% url 'delete' post.id %}" class="btn btn-outline-danger mx-auto d-block">Delete Post</a>
            </div>
        {% endif %}
    </div>
    <div class="my-5">
        <h2>Comments</h2>
        {% if user.is_authenticated %}
            <form action="{% url 'detail' post.id %}" method="POST">
                {% csrf_token %}
                <p>comment as : {{ user.username }}</p>
                <div class="form-field">
                    {{ form.comment }}
                </div>
                <button type="submit" class="btn btn-secondary mt-3">Comment</button>
            </form>
        {% endif %}
        <div class="my-4"></div>
        {% for comment in post.comments_set.all %}
            <div class="card" style="background-color: transparent;">
                <div class="card-body">
                    <p class="card-title font-weight-bold">
                        {{ comment.commented_by }} 
                        <span class="text-muted"> 
                            {{ comment.date_commented | date }}
                        </span> 
                        <span class="float-right">
                            {% if user == comment.commented_by %}
                                
                                <a class="btn btn-danger" href="{% url 'delete_comment' comment.id post.id %}">Delete Post</a>
                                
                            {% endif %}
                        </span>
                    </p>
                    
                    
                    <p class="card-text">
                        &rightarrow; {{ comment.comment }}
                    </p>
                    
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}